/* CSS Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Manrope";
    /* background-color: gray; */
}

/* body style */

body {
    background-color: #f1f1f1;
}

/* Header style start */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.418), rgba(0, 0, 0, 0.418)), url(../assets/images/mainBackground.png);
    background-size: cover;
    width: 100%;
    height: 115vh;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

nav {
    margin: 1.5% 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img[alt="RealEstate"] {
    width: 125px;
}

nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    transition: font-weight 500ms ease-out;
}

ul li a:hover {
    font-weight: 900;
}

.under-line {
    background-color: #ffffff;
    height: 2px;
    margin: 0 100px;
}

.header-section {
    margin: 6% 45% 5% 10%;
}

.header-section h1 {
    font-size: 70px;
    text-transform: capitalize;
}

.header-section p {
    margin-top: 25px;
    font-size: 18px;
    font-weight: 600;
}

.learnmore-btn {
    margin-top: 25px;
    padding: 10px 22px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    background-color: #9d62d1;
    border: none;
    border-radius: 25px;
    transition: background-color 500ms ease-in-out, padding 500ms ease-in;
}

.learnmore-btn:hover {
    background-color: #238b23;
    cursor: pointer;
    padding: 12px 24px;
}

/* logo section style */

img[alt="logoName"] {
    width: 160px;
}

.logo-box {
    position: relative;
    top: -85px;
    left: 2.5%;
    width: 95%;
    height: 185px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
}

/* price and display section style code */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 700;
}

img[alt="card"] {
    width: 366px;
    height: 400px;
    border-radius: 25px;
}

.galery {
    margin-top: 8%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    row-gap: 40px;
    column-gap: 5em;
}

.galery-card {
    background-color: #ffffff;
    width: 326px;
    height: 121px;
    border-radius: 25px;
    position: relative;
    top: -70px;
    left: 22px;
}

.galery-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    line-height: 40px;
}

.card-detail h3 {
    font-size: 25px;
}

.card-detail p {
    font-size: 20px;
    font-weight: 700;
    color: #5353fc;
}

.detail-btn {
    padding: 12px 24px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    border: none;
    background-color: #5353fc;
    border-radius: 25px;
}

.galery-itm2,
.galery-itm5,
.galery-itm8 {
    position: relative;
    top: 20px;
}

.galery-itm3,
.galery-itm4,
.galery-itm9 {
    position: relative;
    top: 40px;
}

/* book container sectin style code */

.book-container {
    width: 100%;
    height: 60vh;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.book-left {
    width: 50%;
    height: 60vh;
}

img[alt="featureImageBg1"] {
    width: 565px;
}

img[alt="featuresImage1"] {
    width: 405px;
    height: 405px;
    border-radius: 50px;
    position: relative;
    bottom: 33em;
    left: 7em;
}

.book-right {
    width: 50%;
    margin-right: 10%;
}

.book-right h1 {
    font-size: 60px;
    font-weight: 700;
}

.book-right p {
    margin-top: 40px;
    font-size: 18px;
    font-weight: 500;
    color: #494949;
}

.early-btn {
    margin-top: 40px;
    padding: 12px 24px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    border: none;
    background-color: #5353fc;
    border-radius: 25px;
    transition: background-color 500ms ease-out;
}

.early-btn:hover {
    background-color: #ca61f3;
    cursor: pointer;
}

/* early book section 2 css code */

.book-container2 {
    margin-top: 100px;
    margin-bottom: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-left2 {
    width: 50%;
    margin-left: 10%;
}

.book-left2 h1 {
    font-size: 60px;
    font-weight: 700;
}

.book-left2 p {
    margin-top: 40px;
    font-size: 18px;
    font-weight: 500;
    color: #494949;
}

.book-right2 {
    width: 50%;
    height: 60vh;
}

img[alt="featuresImage2"] {
    width: 405px;
    height: 405px;
    border-radius: 50px;
    position: absolute;
    right: 3em;
    z-index: 1;
}

img[alt="featureImageBg2"] {
    width: 650px;
    position: absolute;
    right: 0px;
}

/* Newsletter section style code */

.newsletter {
    background-color: #6363ff;
    height: 450px;
    width: 90%;
    margin: auto;
    text-align: center;
    border-radius: 50px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newsletter h1 {
    font-size: 60px;
}

.newsletter p {
    font-size: 18px;
    margin-top: 25px;
}

form {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.form-input {
    width: 30em;
    height: 60px;
    border-radius: 30px;
    background-color: #5151d6;
    display: flex;
    align-items: center;
    gap: 30px;
}

img[alt="email"] {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

#email {
    background-color: #5151d6;
    border: none;
}

.subscribe-btn {
    font-size: 20px;
    width: 10em;
    height: 60px;
    color: #6363ff;
    background-color: #ffffff;
    border: none;
    border-radius: 30px;
}

/* Footer section style start */

footer {
    margin: 100px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-section1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 20%;
}

img[alt="logo"] {
    width: 150px;
}

.social-icon {
    display: flex;
    gap: 15px;
}

.footer-section1 img[alt$="icon"] {
    width: 50px;
}

.footer-section1 h3 {
    font-weight: 400;
}

.footer-section2,
.footer-section3,
.footer-section4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

/* Media query start for responsive */

@media only screen and (max-width: 576px) {
    /* Header media query */
    header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.418), rgba(0, 0, 0, 0.418)), url(../assets/images/mainBackground.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100vw;
        height: 70vh;
        display: flex;
        flex-direction: column;
        color: #ffffff;
    }

    nav {
        margin: 1.5% 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 70px;
    }

    img[alt="RealEstate"] {
        width: 50px;
    }

    nav ul {
        display: flex;
        gap: 10px;
        list-style: none;
    }

    ul li a {
        text-decoration: none;
        color: #ffffff;
        font-size: 10px;
    }

    .under-line {
        background-color: #ffffff;
        height: 2px;
        margin: 0 60px;
    }

    .header-section {
        margin: 6% 45% 5% 10%;
    }

    .header-section h1 {
        font-size: 30px;
        text-transform: capitalize;
    }

    .header-section p {
        margin-top: 5px;
        font-size: 10px;
        font-weight: 400;
    }

    .learnmore-btn {
        margin-top: 10px;
        padding: 6px 12px;
        font-size: 10px;
        font-weight: 600;
        color: #ffffff;
        background-color: #9d62d1;
        border: none;
        border-radius: 10px;
        transition: background-color 500ms ease-in-out, padding 500ms ease-in;
    }

    /* logo box media style */

    img[alt="logoName"] {
        width: 50px;
    }
    
    .logo-box {
        position: relative;
        top: -30px;
        margin: auto;
        width: 90%;
        height: 70px;
        background-color: #ffffff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 15px;
    }

    /* main section media style */

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    main h1 {
        text-align: center;
        font-size: 25px;
        font-weight: 900;
    }
    
    img[alt="card"] {
        width: 150px;
        height: 180px;
        border-radius: 25px;
    }
    
    .galery {
        margin-top: 8%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        row-gap: 5px;
        column-gap: 1em;
    }
    
    .galery-card {
        background-color: #ffffff;
        width: 140px;
        height: 50px;
        border-radius: 10px;
        position: relative;
        top: -40px;
        left: 6px;
    }
    
    .galery-card {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
        line-height: 20px;
    }
    
    .card-detail h3 {
        font-size: 13px;
    }
    
    .card-detail p {
        font-size: 8px;
        font-weight: 700;
        color: #5353fc;
    }
    
    .detail-btn {
        padding: 6px 12px;
        color: #ffffff;
        font-size: 8px;
        font-weight: 600;
        border: none;
        background-color: #5353fc;
        border-radius: 10px;
    }
    
    .galery-itm2,
    .galery-itm5,
    .galery-itm8 {
        position: relative;
        top: 10px;
    }
    
    .galery-itm3,
    .galery-itm4,
    .galery-itm9 {
        position: relative;
        top: 20px;
    }

    /* early bookin 1 media code */

    .book-container {
        width: 100vw;
        height: 30vh;
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        /* background-color: green; */
    }
    
    .book-left {
        width: 50%;
        height: 30vh;
    }
    
    img[alt="featureImageBg1"] {
        width: 200px;
    }
    
    img[alt="featuresImage1"] {
        width: 140px;
        height: 140px;
        border-radius: 25px;
        position: relative;
        bottom: 12em;
        left: 2.5em;
    }
    
    .book-right {
        width: 50%;
        height: 30vh;
        margin-right: 10%;
    }
    
    .book-right h1 {
        font-size: 25px;
        font-weight: 700;
    }
    
    .book-right p {
        margin-top: 10px;
        font-size: 8px;
        font-weight: 500;
        color: #494949;
    }
    
    .early-btn {
        margin-top: 20px;
        padding: 6px 12px;
        color: #ffffff;
        font-size: 8px;
        font-weight: 600;
        border: none;
        background-color: #5353fc;
        border-radius: 10px;
        transition: background-color 500ms ease-out;
    }
    
    .early-btn:hover {
        background-color: #ca61f3;
        cursor: pointer;
    }

    /* early booking 2 media code */

    .book-container2 {
        margin-top: 30px;
        width: 100vw;
        height: 30vh;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: green; */
    }
    
    .book-left2 {
        width: 50%;
        height: 30vh;
        margin-right: 10%;
    }
    
    .book-left2 h1 {
        font-size: 25px;
        font-weight: 900;
    }
    
    .book-left2 p {
        margin-top: 10px;
        font-size: 8px;
        font-weight: 500;
        color: #494949;
    }
    
    .book-right2 {
        width: 50%;
        height: 30vh;
    }
    
    img[alt="featuresImage2"] {
        width: 140px;
        height: 140px;
        border-radius: 25px;
        position: absolute;
        right: 1em;
        z-index: 1;
    }
    
    img[alt="featureImageBg2"] {
        width: 230px;
        position: absolute;
        right: 0px;
    }

    /* newsletter section media code */
    
    .newsletter {
        background-color: #6363ff;
        height: 250px;
        width: 90%;
        margin: auto;
        text-align: center;
        border-radius: 25px;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .newsletter h1 {
        font-size: 25px;
    }
    
    .newsletter p {
        font-size: 8px;
        margin-top: 5px;
    }
    
    form {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    
    .form-input {
        width: 15em;
        height: 30px;
        border-radius: 30px;
        background-color: #5151d6;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    img[alt="email"] {
        width: 15px;
        height: 15px;
        margin-left: 10px;
    }
    
    #email {
        background-color: #5151d6;
        border: none;
    }
    
    .subscribe-btn {
        font-size: 8px;
        width: 10em;
        height: 30px;
        color: #6363ff;
        background-color: #ffffff;
        border: none;
        border-radius: 30px;
    }

    /* footer section media code */

    footer {
        margin: 50px 0px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .footer-section1 {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-right: 15%;
    }
    
    img[alt="logo"] {
        width: 80px;
    }
    
    .social-icon {
        display: flex;
        gap: 10px;
    }
    
    .footer-section1 img[alt$="icon"] {
        width: 25px;
    }
    
    .footer-section1 h3 {
        font-size: 8px;
        font-weight: 600;
    }
    
    .footer-section2,
    .footer-section3,
    .footer-section4 {
        font-size: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
    }
}