/* CSS Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Manrope";
    /* background-color: gray; */
}

/* body style */

body {
    background-color: #f1f1f1;
}

/* Header style start */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.418), rgba(0, 0, 0, 0.418)), url(../assets/images/mainBackground.png);
    background-size: cover;
    width: 100%;
    height: 115vh;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

nav {
    margin: 1.5% 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img[alt="RealEstate"] {
    width: 125px;
}

nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    transition: font-weight 500ms ease-out;
}

ul li a:hover {
    font-weight: 900;
}

.under-line {
    background-color: #ffffff;
    height: 2px;
    margin: 0 100px;
}

.header-section {
    margin: 6% 45% 5% 10%;
}

.header-section h1 {
    font-size: 70px;
    text-transform: capitalize;
}

.header-section p {
    margin-top: 25px;
    font-size: 18px;
    font-weight: 600;
}

.learnmore-btn {
    margin-top: 25px;
    padding: 10px 22px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    background-color: #9d62d1;
    border: none;
    border-radius: 25px;
    transition: background-color 500ms ease-in-out, padding 500ms ease-in;
}

.learnmore-btn:hover {
    background-color: #238b23;
    cursor: pointer;
    padding: 12px 24px;
}

/* logo section style */

img[alt="logoName"] {
    width: 160px;
}

.logo-box {
    position: relative;
    top: -85px;
    left: 2.5%;
    width: 95%;
    height: 185px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
}

/* price and display section style code */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 700;
}

img[alt="card"] {
    width: 366px;
    height: 400px;
    border-radius: 25px;
}

.galery {
    margin-top: 8%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    row-gap: 40px;
    column-gap: 5em;
}

.galery-card {
    background-color: #ffffff;
    width: 326px;
    height: 121px;
    border-radius: 25px;
    position: relative;
    top: -70px;
    left: 22px;
}

.galery-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    line-height: 40px;
}

.card-detail h3 {
    font-size: 25px;
}

.card-detail p {
    font-size: 20px;
    font-weight: 700;
    color: #5353fc;
}

.detail-btn {
    padding: 12px 24px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    border: none;
    background-color: #5353fc;
    border-radius: 25px;
}

.galery-itm2,
.galery-itm5,
.galery-itm8 {
    position: relative;
    top: 20px;
}

.galery-itm3,
.galery-itm4,
.galery-itm9 {
    position: relative;
    top: 40px;
}

/* book container sectin style code */

.book-container {
    width: 100%;
    height: 60vh;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.book-left {
    width: 50%;
    height: 60vh;
}

img[alt="featureImageBg1"] {
    width: 565px;
}

img[alt="featuresImage1"] {
    width: 405px;
    height: 405px;
    border-radius: 50px;
    position: relative;
    bottom: 33em;
    left: 7em;
}

.book-right {
    width: 50%;
    margin-right: 10%;
}

.book-right h1 {
    font-size: 60px;
    font-weight: 700;
}

.book-right p {
    margin-top: 40px;
    font-size: 18px;
    font-weight: 500;
    color: #494949;
}

.early-btn {
    margin-top: 40px;
    padding: 12px 24px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    border: none;
    background-color: #5353fc;
    border-radius: 25px;
    transition: background-color 500ms ease-out;
}

.early-btn:hover {
    background-color: #cf9832;
    cursor: pointer;
}

/* early book section 2 css code */

.book-container2 {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-left2 {
    width: 50%;
    margin-left: 10%;
}

.book-left2 h1 {
    font-size: 60px;
    font-weight: 700;
}

.book-left2 p {
    margin-top: 40px;
    font-size: 18px;
    font-weight: 500;
    color: #494949;
}

.book-right2 {
    width: 50%;
    height: 60vh;
}

img[alt="featuresImage2"] {
    width: 405px;
    height: 405px;
    border-radius: 50px;
    position: absolute;
    right: 3em;
    z-index: 1;
}

img[alt="featureImageBg2"] {
    width: 650px;
    position: absolute;
    right: 0px;
}

